{#
/**
 * @file
 * Default theme implementation to display Qwant search page.
 *
 * Available variables:
 * - results: Renderable results from Qwant.
 *
 * @ingroup themeable
 */
#}
<ul class="qwant-search-results">
  {{ results }}
</ul>
